{% extends 'base.html' %}

{% block title %}ToolManager | Lista narzędzi{% endblock %}

{% block content %}
  <section class="container">
    <h2>Lista narzędzi</h2>
    <a href="{% url 'tools:tool-add' %}" class="btn btn-primary">Dodaj nowe narzędzie</a>
    <table class="tool-table">
      <thead>
        <tr>
          <th>Nazwa</th>
          <th>Ilość</th>
          <th colspan="3">Akcje</th>
        </tr>
      </thead>
      <tbody>
        {% for tool in tools %}
          <tr>
            <td>{{ tool.name }}</td>
            <td>{{ tool.quantity }}</td>
            <td><a href="{% url 'tools:tool-detail' tool.pk %}">Pokaż</a></td>
            <td><a href="{% url 'tools:tool-edit'   tool.pk %}">Edytuj</a></td>
            <td><a href="{% url 'tools:tool-delete' tool.pk %}">Usuń</a></td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">Brak narzędzi w systemie.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
